<form class="customer-form" [formGroup]="form" (submit)="onSubmit()">
  <mat-card fxLayout="column">

    <mat-form-field floatLabel="always">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="Enter the customer's name">
      <mat-error *ngIf="!isControlValid('firstName')">{{getErrorMsg('firstName')}}</mat-error>

    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Enter the customer's last name">
      <mat-error *ngIf="!isControlValid('lastName')">{{getErrorMsg('lastName')}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Age</mat-label>
      <input [readonly]="true" formControlName="age" matInput type="number" placeholder="Enter the customer's age">
      <mat-error *ngIf="!isControlValid('age')">{{getErrorMsg('age')}}</mat-error>
    </mat-form-field>

    <mat-form-field floatLabel="always">
      <mat-label>Birth date</mat-label>
      <input formControlName="birthdate" [matDatepicker]="picker" matInput (dateChange)="birthdateChanged($event)"
             placeholder="Enter the customer's Birth date">
      <mat-error *ngIf="!isControlValid('birthdate')">{{getErrorMsg('birthdate')}}</mat-error>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <button mat-raised-button color="primary">
      {{existingCustomer ? 'Update' : 'Create'}} Customer
    </button>

  </mat-card>
</form>
